#WHOS_OUT .HomeWidget__Header--actn {
    visibility: visible;
    opacity: 1;
}

#FixedTime {
    background-color: black;
    color: white;
}

#FixedTime #type {
    display: none;
}

.PTOCard__main__iconTime #FixedTime {
    font-size: 43px;
}
