#WHOS_OUT .HomeWidget__Header--actn {
    visibility: visible;
    opacity: 1;
}

#FixedTime {
    background-color: black;
    color: white;
}

#FixedTime #type {
    display: none;
}

.TOCard__iconAndTime #FixedTime {
	font-size: 36px;
	height: 32px;
	padding-top: 4px;
}
